<div class="container">
  <div [hidden]="submitted">
    <form (ngSubmit)="onSubmit()" #alunoForm="ngForm">
      <div class="form-group">
        <label for="name">Nome</label>
        <input type="text" class="form-control" id="name"
               required
               [(ngModel)]="aluno.nome" name="nome"
               #name="ngModel">
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          Nome é obrigatório
        </div>

        <br>
        
        <label for="sexo">Sexo</label><br>
        <input type="radio" value="female" name="gender" [ngModel]="aluno.gender" required #gender="ngModel"> Feminino
        
        <input type="radio" value="male" name="gender" [ngModel]="aluno.gender" required #gender="ngModel"> Masculino
                 
      </div>
      <br><br>
      <button type="submit" class="btn btn-success" [disabled]="!alunoForm.form.valid" (click)="salvar()">Salvar</button>
      &nbsp;
      <button type="button" class="btn btn-secondary" (click)="ngOnInit()">Limpar</button>


<!--<form (ngSubmit)="salvar()" #f="ngForm">
  <div>
    <label>Nome</label>
    <br>
    <input type="text" required [(ngModel)]="aluno.nome" #nome="ngModel" name="nome">
    <br><br>
  </div>

  <div>
    <label> Sexo</label>
    <br>
    <input type="radio" [(ngModel)]="aluno.sexo" value="female"> Feminino
    &nbsp;
    <input type="radio" [(ngModel)]="aluno.sexo" value="male"> Masculino
    <br><br>
  </div>

  <button type="submit" class="btn btn-secondary"> Salvar </button>
  &nbsp;
  <button class="reset btn btn-secondary"(click)="reset()"> Limpar </button>  

</form>-->
